// Import all pre-defined mixins ONCE (http://learnboost.github.io/stylus/docs/import.html)
@require "./mixins/**/*.styl"

// Import all global "sane defaults"
@require "./defaults/**/*.styl"

// Checkerboard background
// via http://lea.verou.me/css3patterns/#checkerboard
body
  checker(45px)
