checker(size = 45px, bg = #fff, fg = #eee)
  background-color: bg
  background-image:
    linear-gradient(45deg, fg 25%, transparent 25%, transparent 75%, fg 75%, fg),
    linear-gradient(45deg, fg 25%, transparent 25%, transparent 75%, fg 75%, fg)
  background-size: (size*2) (size*2)
  background-position:0 0, size size